public/about/
public/faq.html
public/home/
public/index.html
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/rdoc
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
*/.DS_Store
