body {
	background: url(/images/muddler_bg.jpg) top center repeat-y;
}
#container_main_content {
	background: none !important;
}
#container_header { height: 45px; }

#footer_sign_bg {
	width: 1000px;
	margin: 0px auto;
	padding: 0px;
	height: 170px;
	text-align: center;
	color: 
	#FFF;
	position: relative;
	z-index: 2000;
	background: url(/images/muddler_footer_bg.jpg) top center no-repeat;
}
