/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position:relative;
	z-index:1;
	background:url(../images/footer_bg.jpg);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

hr {
	margin-bottom: 20px;
	margin-top: 20px;
	border: 1px dotted #ddd;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-family:"Lato", "Lato", Helvetica, Arial, sans-serif;
    font-size:12px;
    color:#190900;
    line-height:1.5em;
    margin-bottom:18px;
    color:#5c5c5c;
}

td {
	vertical-align: bottom;
	padding: 10px 10px 0px 10px;
}

table, td, th {
	border: solid 1px #777;
}

tr.alt {
	background-color: #f0efe8;
}

table caption {
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Rokkitt', serif;
}
h3 {
	font-size:30px;
	font-weight:bold;
}
h4 {
	color:#01472f;
	margin-bottom:4px;
	font-size:20px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
a strong {
	font-weight:bold;
}
a {
	text-decoration:none;
	color:#333;
}
a:hover {
	color:#000;
	background:#f9f7e4;
}
li {
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size:13px;
	color:#190900;
	line-height:1.5em;
}

li span.green {
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	color: #8FA35D;
}

p a {
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size:13px;
}
p, a p {
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size:13px;
	font-size:14px;
	color:#190900;
	line-height:1.5em;
	margin-bottom:18px;
	color:#5c5c5c;
}
p strong, a p strong {
	font-weight:bold;
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size:13px;
	color:#190900;
	line-height:1.5em;
	margin-bottom:22px;
	color:#333;
}
p em, a p em {
	font-style:italic;
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size:13px;
	color:#5C5C5C;
	line-height:1.5em;
	margin-bottom:22px;
}
.clear_left {
	clear:left;
}
.clear_right {
	clear:right;
}
.clear_both {
	clear:both;
}

#container_header {
	height:85px;
	background:url(../images/header_bg_repeat.jpg);
	position:relative;
	z-index:500;
	-moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.container_1000px {
	width:1000px;
	margin:0 auto;
}
#header_content {
	z-index:600;
	height:85px;
}
#container_logo {
	width:380px;
	height:115px;
	background:url(../images/logo_header.png);
	text-indent:-9999px;
	display:block;
	position:absolute;
	top:0px;
	right:50%;
	margin-right:120px;
	z-index:7000;
}

#container_header #header_content #sub_nav {
	float:right;
	padding-top:12px;
	height:25px;
	padding-top:1px;
}
#container_header #header_content #sub_nav li {
	display:inline;
	float:left;
	padding-top:6px;
	margin-top:5px;
}
#container_header #header_content #sub_nav li a {
	color:#FFF;
	text-transform:uppercase;
	font-size:12px;
	padding-right:8px;
	margin-right:8px;
	border-right:1px #FFF solid;
	padding-top:2px;
	display:block;
}
#container_header #header_content #sub_nav li a:hover {
	text-decoration:underline;
	background:none;
}
#container_header #header_content #sub_nav li.last a {
	margin-right:0;
	padding-right:6;
	border-right:none;
}
#container_header #header_content #sub_nav li input {
	padding:3px 5px;
	font-size:12px;
	color:#999;
	width:127px;
	border:#aaa;
	background:#fff;
	float:left;
}
#container_header #header_content #sub_nav li input.search_button {
	border:none;
	background-color:transparent;
	width:32px;
}
}
#container_header #header_content #sub_nav li input {
	padding:3px 5px;
	font-size:12px;
	color:#999;
	width:134px;
	border:none;
	background:none;
	float:left;
}
#container_header #header_content #sub_nav li input.search_button {
	border:none;
	background:none;
	width:32px;
}
#nav {


	height:20px;
	right:50%;
	top:54px;
	clear:right;
	position:absolute;
	z-index:8000;
	margin-right:-500px;
}
#nav li {
	display:inline;
	float:left;
	position:relative;
}
#nav li a {
	display:block;
	background:url(../images/nav_tab_bg.jpg);
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-family: 'Rokkitt', serif;
	color:#5c5c5c;
	font-size:18px;
	font-weight:bold;
	padding:6px 10px;
}
.shadowed {
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
#nav li:hover a {
	color:#c95151;
}
#nav li ul { /* second-level lists */
	position: absolute;
	padding:6px 0;
	background: url(../images/nav_second_level_top_bg.gif) top repeat-x #f6f4eb;
	width:200px;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	-moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	z-index:7005;
}
#nav li:hover ul li a {
	background:none;
	color:#5b5451;
	font-size:16px;
	margin-bottom:0;
	padding-bottom:0;
	width:180px;
}
#nav li:hover ul li a:hover {
	color:#c95151;
}
#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}
#content {
	clear: left;
	color: #ccc;
}
#container_header #search_bar {
	width:183px;
	height:40px;
	background:url(../images/search_box_bg.png) no-repeat;
}
#bg_containers div {
	height:340px;
	width:100%;
}
#bg_containers {
	width:100%;
	margin:0;
	z-index:10;
	position:relative;
/*	background:url(../images/slider_bg.jpg) center repeat-y #efe8da;*/
	height:340px;
}
#bg_containers div {
	width:100%;
	height:340px;
	margin:0 auto;
}
#bg_containers .bg1 {
	background:url(../images/pink.jpg) center no-repeat;
}
#bg_containers .bg2 {
	background:url(../images/land.jpg) center no-repeat;
}
#bg_containers .bg3 {
	background:url(../images/land3.jpg) center no-repeat;
}
#bg_containers .bg4 {
	background:url(../images/fields.jpg) center no-repeat;
}
#bg_containers .bg5 {
	background:url(../images/land2.jpg) center no-repeat;
}

#container_main_content {
	background:#FFF;
	position:relative;
	z-index:200;
/*	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);*/
/*	-webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);*/
/*	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);*/
	/* For IE 8 */
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
	/* For IE 5.5 - 7 */
/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
	padding-top:40px;
	background:url(../images/main_content_vert_bg.jpg) center repeat-y;
}
#container_main_content.home {
	background: url(../images/background_tile.gif);
/*	background: #fff;*/
}
#container_main_content #content {
	width:928px;
	padding:0 16px 36px 16px;
	margin:0 auto;
}
.column_third {
	width:294px;
	float:left;
	font-size: 11px;
	padding-right:22px;
	margin-bottom:20px;
}
.column_third.narrower {
	width:254px;
}


.column_third p, .column_third a, .column_third li, .column_third em, .column_third strong, .column_third span {
	font-size:11px;
}

.column_third h4 a:link {
	color:#01472f;
	margin-bottom:4px;
	font-size:20px;
	text-decoration: none;
}
.column_third h4 a:hover {
	color:#01472f;
	margin-bottom:4px;
	font-size:20px;
	text-decoration: underline;
}
.column_third p {
	margin-bottom:6px;
}
.column_third li {
	padding-bottom:8px;
	margin-bottom:8px;
	border-bottom-width:2px;
	border-bottom-style:dotted;
}
#container_main_content .right {
	padding-right:0;
}
.column_third h3 {
	border-bottom-style:dotted;
	border-bottom-width:2px;
	width:100%;
	padding-bottom:6px;
	margin-bottom:12px;
}
.column_third h5 {
	border-bottom-style:dotted;
	border-bottom-width:2px;
	padding-bottom:6px;
	margin-bottom:12px;
}

.column_third {
	margin-top: 10px;
}

.green h3, .green h3 a:link, .green h4, .green h4 a:link, .green h5, .green h5 a:link, .green li, .green li a:link {
	color:#8fa35d;
	border-bottom-color:#8fa35d;
}
.red h3, .red h3 a:link,.red h3 a:visited, .red h4, .red h4 a:link,.red h4 a:visited, .red h5, .red h5 a:link,.red h5 a:visited, .red li, .red li a:link, .red li a:visited  {
	color:#c95151;
	border-bottom-color:#c95151;
}
.blue h3, .blue h3 a:link, .blue h4, .blue h4 a:link, .blue h5, .blue h5 a:link, .blue li {
	color:#94afce;
	border-bottom-color:#94afce;
}
.narrow {
	width:168px;
	border-right:1px solid #95b0cf;
	margin-right:16px;
	text-align:right;
	font-size:12px;
}
.narrow li {
	padding-bottom:3px;
	margin-bottom:3px;
}
.narrow li, .narrow li a {
	font-size:12px;
}
.narrow ul li ul {
	margin-bottom:10px;
	font-size:12px;
}
.narrow ul li ul li strong {
	font-weight:bold;
	font-size:12px;
}
.narrow ul li ul li, .narrow ul li ul li strong {
	color:#333;
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
	font-size:12px;
}
.wide {
	width:436px;
}
.wide h3 {
	border-bottom:none;
	width:100%;
	padding-bottom:0;
}
.wide p {
	margin-bottom:16px;
}
#footer_sign_bg {
	height:160px;
	background:url(../images/dayton_sign_footer_bg.png) top no-repeat;
	position:relative;
	z-index:1000;
	top:-20px;
	padding-top:1px;
}
#footer_content {
	width:1000px;
	margin:0px auto;
	padding:36px 0 20px 0;
	text-align:center;
	color:#FFF;
	position:relative;
	z-index:2000;
}
#footer_content p {
	position:relative;
	z-index:3000;
	color:#FFF;
}

#footer_content a {
	position:relative;
	z-index:3000;
	color:#eee;
}


#maincolumn h1 {
	font-size: 32px;
	color: #8fa35d;
	font-weight: bold;
}

#maincolumn h2 {
	font-size: 24px;
	color: #222;
	padding-bottom: 5px;
	padding-top: 5px;
}

#maincolumn h3 {
	font-size: 18px;
	color: #222;
}

#maincolumn li {
	font-family:"Lato", Helvetica, Arial, sans-serif;
	color:#5C5C5C;
	margin-left: 30px;
	border-bottom: 1px solid #ddd;
	list-style-type: disc;
}

#maincolumn a:link, #maincolumn a:visited {
	color: #369;
	text-decoration: underline;
}

.red h2 {
	color: #c95151;
}
.red aside #events li {
	list-style-type: none;
}

.pdf img {
	float:left;
	padding-right: 10px;
}


.pdf p, a p {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.5em;
	padding-top: 10px;
	font-family:"Lato", Helvetica, Arial, sans-serif;
    color:#333;
}

.pdf {
	padding-bottom: 10px;
}

.pdf a {
	font-size: 13px;
	font-weight: bold;
	font-family:"Lato", Helvetica, Arial, sans-serif;
    color:#333;
	line-height: 1.5em;
}


.column_third ul li, .column_third p {
	font-size: 14px;
	padding-bottom: 0.4em;
	margin-bottom: 0.4em;
}
#maincolumn ul li, #maincolumn ol li, #maincolumn p {
	font-size: 14px;
}

.column_third ul li a {
	font-size: 13px;

}
.column_third h3 {
	margin-bottom: 0.4em;
}

.column_third.red.narrow li a:link, .column_third.red.narrow li a:visited {
	color:#5C5C5C;
	font-size: 11px !important;
	border-bottom: 0px;
}
.column_third.red.narrow li {
	color:#5C5C5C;
	border-bottom: 0px;
}

.column_third.right.narrower ul li a {
	font-weight: 700;
	margin-left: 4px;
	font-size: 12px;
	display: block;
}