<ul>
	<li><a href="/"><img src="/assets/icons/small_icons_3/media.png" alt="" /><span>Home</span></a></li>
	<li><a href="/account/me" class="dashboard"><img src="/assets/icons/small_icons_3/dashboard.png" alt="" /><span class="current">Dashboard</span></a></li>
	<li><a href="/account/payment_history/"><img src="/assets/icons/small_icons_3/coin.png" alt="" /><span>Payment History</span></a></li>
	<li><a href="/account/my_profile"><img src="/assets/icons/small_icons_3/users.png" alt="" /><span>Account Settings</span></a></li>
</ul>
