<div style="clear:both;"></div>

<div id="footer_sign_bg">
 <div id="footer_content">
	<div class="footer_columns">
				<ul>
				<li>TSSI</li>
				<li>The Hatchery Design Co.</li>
				<li>Dayton American Legion</li>
				</ul>
				<ul>
				<li>Braithwaite Studios</li>
				<li>Countryside Sewing</li>
				<li>Thomas House Restaurant</li>
				</ul>
				<ul>
				<li>Pitstop Automotive</li>
				<li>Bridgewater Car Care</li>
				<li>Rockingham Mill</li>
				</ul>
		</div>
	<div class="footer_links">
		<ul id="footer_nav">
	    <li><a href="/muddler/information">Event Info</a></li>
	    <li><a href="/muddler/course_map">Course Map</a></li>
	    <li><a href="/muddler/faq">FAQ</a></li>
	    <li><a href="/muddler/photos">Photo Gallery</a></li>
	    <li><a href="/muddler/sponsors">Sponsors</a></li>
		  <li><a href="/muddler/cause">Our Cause</a></li>
			<li><a href="/muddler/contact">Contact</a></li>
			<li class="special" style="border-right:none;"><a href="/">Register</a></li>
	  </ul>
	<div style="clear:both;"></div>
	<p>2013 Town of Dayton Virginia. All Rights Reserved.</p>
	</div>
    <!--%= ContentHolder.find(2).body.html_safe %-->
  </div>
</div>

