<a name="top"></a>


<a href="/" id="container_logo"> </a>


<div id="container_header">
  <div id="header_content" class="container_1000px">
    <ul id="sub_nav">
      <li><a href="/">Town of Dayton Home</a></li>
      <li><a href="/about/history/">History</a></li>
      <li><a href="/about/town-departments/">Town Departments</a></li>
      <li><a href="/about/town-government/">Town Government</a></li>
      <li><a href="/about/community/">Community</a></li>
    </ul>
  </div>
</div>


	<%#= ContentHolder.find(1).body.html_safe %>
