<% if current_member %>
	<a href="/donors/me">Account Dashboard</a> |
	<%= link_to "Logout", destroy_member_session_path %>
<% else %>
	<%= link_to "Register", '/members/register' %> | <%= link_to "Login", new_member_session_path %>
<% end %>

<% if current_user %>
	<hr />
	<%= link_to "Admin", refinery_root_path %>
<% end %>