<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Our Cause</h1>
<p>All net proceeds plus any additional donations go through our local Veterans of Foreign Wars to support the <a href="http://www.woundedwarriorproject.org" target="_blank">Wounded Warriors Program</a>. The Wounded Warriors Programs seeks to raise awareness and enlist the public's aid for the needs of injured service members; help injured service members aid and assist each other; and to provide unique, direct programs and services to meet the needs of injured service members.</p>

<p class="small">The Dayton Muddler is not affiliated with or sponsored by the Wounded Warriors Program</p>
<br/>

<br/>
<br/>
<br/>
<br/>
 </div>
<div style="clear:both"></div>
</div>


