<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Contact Us</h1>
	<h3>For questions contact:</h3>
	<p>THE TOWN OF DAYTON at (540) 879-2241<br/>
	OR THE DAYTON POLICE DEPT. at (540) 879-2161<br/>
	WWW.DAYTONMUDDLER.COM</p>


	
 </div>
<div style="clear:both"></div>
</div>


