<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Course Map</h1>
<p>Click the map below to download and view a larger version</p>

	
 </div>
<div style="clear:both"></div>
</div>


