<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Frequently Asked Questions</h1>

	<h3>Who came up the idea of this race?</h3>
	<p>I asked, but no one was crazy enough to take full responsibility for this race.  At first glance, it doesn’t look terribly challenging, I mean, it’s only a 5K, right?  The 5K distance is precisely what makes it, “h.e. double toothpicks.”  There’s no rest, none, and since it’s a 5K, participants tend to push themselves to the limit because there’s no reason to conserve energy, therefore most participants are whipped out at the end…and looking for whoever it was that come up with such a tough course.</p>

	<h3>Is there an age limit or restriction to spectators?</h3>
	<p>There is no limit to the age of spectators, but children must be accompanied by an adult and spectators of all ages MUST stay off of the course and obstacles.  No exceptions.</p>

	<h3>How old do participants need to be?</h3>
	<p>We are introducing a youth division this year for ages 10-15 in which some of the obstacles are modified for ease.  We strongly encourage an adult guardian to run with the minor.  This course isn’t easy and it has several sections that are run on trafficked streets. </p>

	<h3>What are the prices for individuals and teams?</h3>
	<p>We want to keep it reasonable so we charge a modest $40/person, whether individual or on a team.  ALL  net proceeds go to the Wounded Warrior Project.  Please visit our sponsors page as they are the reason we can offer our race at such a great rate + give you the shirts, etc. </p>

	<h3>What constitutes a team?</h3>
	<p>This depends.  Is your team vying for the top time?  If so, teams are defined as a group of four who will be racing together for a team finish.  Otherwise, you may run a team of any size.  Many workplaces use this race as a team building exercise. </p>

	<h3>Do teams have to finish together?</h3>
	<p>Our military leaves no man/woman behind…why would you?  One of the greatest pleasures of a mud/endurance race is helping others through encouragement, and occasionally through lending a hand to help a stranger overcome an obstacle.  Teamwork and encouragement are essential.</p>

	<h3>Will this race be timed?</h3>
	<p>It sure will!  Some want to be the fastest.  Some don’t care about the time at all.  Either way, it’s about finishing the race and supporting our Nations Warriors, right?</p>

	<h3>What are the start times, and can I request a start time?</h3>
	<p>8 am Individual Runners:<br/>
	During this time slot, individuals are pooled together in groups of 20-30 for shotgun starts.</p>

	<p>9:30 am Team Competition:<br/>
	Teams are started at an interval of 15 minutes.  This must necessarily be modified based on the number of teams participating.

	<p>11:30 am Youth Division:<br/>
	The youth division will be handled in the same manner as the Individual Runners; pooled shotgun starts.  Adult guardians running with the minors may choose to run the course prior to this division (yes, you can run it more than once…if you’re nuts) and are expected to aid the minor participants if needed.  </p>

	<h3>What are the awards?</h3>
	<p>You don’t need awards, right?  You are doing this for the cause, I know…but you will be awarded stuff anyways.  We value each of you, so each participant will get a cool t-shirt that you can wear with pride – and Buff headgear to wear on your sweaty head.  There will be some raffle items, AND those competing to be the fastest (individual or team) will also get a set of dog tags saying that there are few tougher on the planet, and a glass plaque announcing your awesomeness. </p> 

	<h3>Is there a rain date?</h3>
	<p>Nope.  The Dayton Muddler is rain or shine. There will be plenty of shelter for spectators and participants.</p>

	<h3>What if I pay in advance and cannot attend. Is there a refund?</h3>
	<p>Refunds are possible through the Town of Dayton’s Treasurers Office.  Call 540-879-2241.  </p>

	<h3>Can I do the course more than once?</h3>
	<p>Yes you may.  We encourage this for those adults wishing to run with the minors.  Just let us know of your intentions so we can mark you with a “may be out of his/her mind” symbol.  Once the last group of the Youth Division has started, the course will close.</p>

	<h3>If there is an obstacle that I cannot do, can I go around it?</h3>
	<p>You may.  We would prefer that another participant on the course give you an assist, but we understand that certain obstacles cannot be overcome.</p>

	<h3>Can I view the course in advance?</h3>
	<p>The course is mapped out on the website, but sometimes we need to change it slightly in order to accommodate the landowners who give us the blessing to use their properties.  Symbols are painted on the road to guide you, and there are volunteers at each obstacle who can point you in the right direction, or hand you a bottle of water.</p>

	<h3>May I volunteer for the event?</h3>
	<p>You may once you’ve passed a basic background check.  Call 540-879-2161.</p>

	<h3>Is there merchandise such as t-shirts, etc. available?</h3>
	<p>Each participant is given a free t-shirt and head buff, plus there will be items for raffle and giveaways.  T-shirts and other items will be for sale, butonce they are sold out, they are gone.</p>

	<h3>How fit do I have to be to participate?</h3>
	<p>Fitness is important, no doubt, and if you have any concerns, please contact your physician.  BUT this event is about the cause, and can be walked if that is your current fitness level.  If you want to walk it and decide which obstacles you will do, and bypass those you cannot physically do, we encourage you to participate.</p>

	<h3>What is the registration deadline?</h3>
	<p>You can register the day of the event, but that isn’t recommended.  If you’ve ever run in an event like this, you know that pre-registration is the best way to go!  You can avoid the lines, the writing finger cramps, or being excluded due to the race being capped. Register now while you are online. </p>
	
	<h3>What is the maximum number of participants allowed in the race?</h3>
	<p>The race is capped at 500 participants this year.  Pre-registering is a good idea. </p>

	<h3>Will there be a shuttle to the event?</h3>
	<p>There is onsite parking for this event unless we get a larger than expected turnout.  If our pre-registration numbers are high, shuttles will run from nearby area schools.  </p>
	<p>The worst case scenario is that you have to park a few blocks away and walk to Wilber Pence Middle School.  Stay tuned to the website for updates.  We will also keep you advised on our twitter account which is twitter@muddlerdayton and on our Dayton Facebook page.</p>

	<h3>Do you have to pay for parking?</h3>
	<p>No.  </p>

	<h3>Is there a drop bag area?</h3>
	<p>Yes. You can be directed to it after registering, but do not bring valuables to the event.</p>

	<h3>Is there alcohol at the event?</h3>
	<p>Alcohol is forbidden as this is a Town of Dayton function.  There will also be multiple families and children participating.  Mud race participants are the best of the best, we expect no one will try to get around this rule.</p>


	<h3>Where can I find lodging for the event?</h3>
	<p>Dayton is located just south of Harrisonburg VA. A quick web search will bring you multiple locations. Dayton does have one cottage located at the Primrose House that is open for weekend stays. Be sure to check out all of the great restaurants and shops that Dayton boasts.</p>
	
 </div>
<div style="clear:both"></div>
</div>


