<div style="margin-top: 30px">
	<div class="home_content">
		<p>
		The Dayton Muddler is a unique 3.2 mile adventure course through the historic Town of Dayton. “Muddlers” will encounter a variety of obstacles along the way, such as the Cooks Creek Water Run, Recon Wall, Fort Harrison Haul, Mud Crawl, Hay Bale Climb, a 150-foot water slide, feed sack carry, aerial sprays and more. Competitors can sign up in one of three divisions: Individual, Team or Youth. And it’s truly for a great cause — all net proceeds from the Muddler benefit the Wounded Warrior Project through our local veterans.</p>

		<h2>Sat. August 3, 2013<br/>
		Wilbur Pence M.S.<br/>Town of Dayton, VA<br/>
		Sign in begins at 7 a.m.</h2>
		</div>

		<img src="../images/video_place_holder.jpg" alt="watch the video" title="Watch the Video" /> 

		<div class="four_column_home">
			<a href="/muddler/photos"><img src="../images/photos_callout.jpg" alt="results" title="Results" /></a>
			<a href="/muddler/course_map"><img src="../images/coursemap_callout.png" alt="results" title="Results" /></a>
			<a href="/muddler/faq"><img src="../images/faq_callout.jpg" alt="results" title="Results" /> </a>
				<a href="/muddler/results"><img class="last" src="../images/results_callout.png" alt="results" title="Results" /></a>
		</div>

</div>
 



