<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Event Information</h1>
<p class="biggie"><strong>August 3, 2013<br/>
	Wilbur Pence Middle School<br/>
	375 Bowman Rd, Dayton VA  22821</strong><br/>
</p>
<p>
	7:00 AM – Registration and check-in for individual runners and teams
	Save time by registering now! (link to PDF or online registration)
</p>
	Start times:
	8:00 AM – Individuals (age 15+)
	9:30 AM – Team Competition (minimum 4 persons, male or female)
	11:30 AM – Youth Division (age 10-15)
</p>	
<p>The Dayton Muddler’s 3.2 mile course (link to map) consists of a variety of challenging and exciting obstacles including but not limited to:</p>
	<ul>
	<li>Cook’s Creek Water Run &amp; Recon Wall Climb</li>
	<li>Fort Harrison Block Haul</li>
	<li>150 ft. Water Slide</li>
	<li>Feed bag carry</li>
	<li>Sand Pit</li>
	<li>Mud Crawl</li>
	<li>Hay Bale Climb</li>
</ul>
<p>The youth division course features a mildly abbreviated version of the main course, and participants can choose to skip obstacles if too grueling! Click here to see a map. </p>
<br/>
<p>Prizes will be awarded for the following divisions: </p>
<ul>
	<li>Individual Female</li>
	<li>Individual Male</li>
	<li>Team Competition</li>
	<li>Youth Division</li>
</ul>
<p>All participants will receive a free Dayton Muddler t-shirt and head buff.</p> 

<p>Stick around for Dayton Fun Day (link to that event page) starting at 10 a.m. featuring food, rides and fun for the entire family!</p>

	
 </div>
<div style="clear:both"></div>
</div>


