<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Photo Gallery - 2012</h1>

<div class="gallery">
	<a class="example-image-link" href="/images/gallery/_DSC2684.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2684.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2685.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2685.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2692.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2692.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2693.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2693.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2696.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2696.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2697.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2697.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2700.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2700.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2703.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2703.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2704.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2704.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2705.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2705.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2710.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2710.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2713.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2713.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2719.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2719.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2721.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2721.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2733.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2733.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2734.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2734.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2736.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2736.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2742.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2742.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2749.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2749.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2752.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2752.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2756.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2756.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2757.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2757.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2759.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2759.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2761.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2761.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2762.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2762.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2766.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2766.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2767.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2767.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2774.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2774.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2777.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2777.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2779.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2779.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2783.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2783.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2787.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2787.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2788.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2788.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2791.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2791.jpg" width="150" height="150"></a>
	
	<a class="example-image-link" href="/images/gallery/_DSC2802.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2802.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2808.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2808.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2809.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2809.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2812.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2812.jpg" width="150" height="150"></a>
	<a class="example-image-link" href="/images/gallery/_DSC2815.jpg" rel="lightbox[2012]" />
	<img class="example-image" src="/images/gallery/_DSC2815.jpg" width="150" height="150"></a>
	
	
</div>

 </div>
<div style="clear:both"></div>
</div>


