<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Register for the Race</h1>
	<br/>
	<p><a style="font-size:20px; text-decoration:underline;" href="/documents/DaytonMuddler_Registration.pdf" target="_blank">Click here to download the Registration Form</a></p>
	<p>ENTRY FEE: $40 PER INDIVIDUAL (OR EACH TEAM MEMBER)</p>
	<br/>
<h2 style="color: #000">Return form and make checks payable to:<h2>
	<p>TOWN OF DAYTON<br/>
	“The Dayton Muddler”<br/>
	125B Eastview Street, Dayton, VA 22821</p>
	<hr style="border: solid #000 1px; margin-top: 5px;">
	<h3>For questions contact:</h3>
	<p>THE TOWN OF DAYTON at (540) 879-2241<br/>
	OR THE DAYTON POLICE DEPT. at (540) 879-2161<br/>
	WWW.DAYTONMUDDLER.COM</p>

	
 </div>
<div style="clear:both"></div>
</div>
