<div id="inside_page">

	<%= render :partial => "/muddler/inside_nav" -%>

<div class="right_content">
	<h1>Our Sponsors</h1>
<p>We'd like to especially thank our generous sponsors for helping us bring you 'The Dayton Muddler!' We couldn't have done it without them</p>
<ul>
	<li>TSSI</li>
	<li>The Hatchery Design Co.</li>
	<li>Dayton American Legion</li>
	<li>Braithwaite Studios</li>
	<li>Countryside Sewing</li>
	<li>Thomas House Restaurant</li>
	<li>Pitstop Automotive</li>
	<li>Bridgewater Car Care</li>
	<li>Rockingham Mill</li>
	</ul>

	
 </div>
<div style="clear:both"></div>
</div>


